# Machine Learning - Task 3

Task: The student must use both Naive Bayes and Linear Regression to classify a sample dataset, then interpret the results.

In [1]:
import pandas as pd

In [3]:
veri = pd.read_csv('student-mat.csv', sep = ';')

In [4]:
veri = veri[['G1','G2','G3','studytime','failures','absences','age']]

In [5]:
veri.head()

   G1  G2  G3  studytime  failures  absences  age
0   5   6   6          2         0         6   18
1   5   5   6          2         0         4   17
2   7   8  10          2         3        10   15
3  15  14  15          3         0         2   15
4   6  10  10          2         0         4   16

In [7]:
import numpy as np
y = np.array(veri['G3'])
X = np.array(veri.drop('G3',axis=1))

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_egitim, X_test, y_egitim, y_test =train_test_split(X,y,test_size = 0.2,random_state=2)

In [10]:
from sklearn.linear_model import LinearRegression

In [13]:
linear = LinearRegression()

In [14]:
linear.fit(X_egitim, y_egitim)

LinearRegression()

In [15]:
linear.score(X_test, y_test)

0.8325898318712226

In [16]:
linear.score(X_egitim, y_egitim)

0.826127547519714

In [17]:
veri.head()

   G1  G2  G3  studytime  failures  absences  age
0   5   6   6          2         0         6   18
1   5   5   6          2         0         4   17
2   7   8  10          2         3        10   15
3  15  14  15          3         0         2   15
4   6  10  10          2         0         4   16

In [19]:
yeni_veri = np.array([[10,14,3,0,4,16]])
linear.predict(yeni_veri)

array([13.19096755])

In [21]:
yeni_veri2 = np.array([[15,14,3,0,2,15]])
linear.predict(yeni_veri2)

array([14.33066999])